body {
  background-color: #767879;
}

h2 {
  text-align: center;
  background-color: #717272;
  color: #abb8f5;
  font-size: 30px;
}

h3 {
  text-align: center;
  background-color: #717272;
  color: #abb8f5;
  font-size: 30px;
}

h4 {
  text-align: center;
  background-color: #717272;
  color: #abb8f5;
  font-size: 30px;
}

h5 {
  text-align: center;
  background-color: #717272;
  color: #abb8f5;
  font-size: 30px;
}

p1 {
  text-align: center;
}

header nav {
  list-style-type: none;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  background-color: #717272;
  flex-wrap: nowrap;
}

header nav a:link,
header nav a:visited,
header nav a:active {
  color: #abb8f5;
}

li {
  float: left;
  border-right: 1px solid rgb(255, 255, 255);
}

a {
  display: block;
  padding: 14px 16px;
  color: rgb(255, 255, 255);
  text-align: center;
}

img {
  float: left;
  height: 250px;
  width: 200px;
}

p {
  width: 50%;
}

/*
nav-item {
  color: rgb(0, 0, 0);
}
nav-link {
  color: rgb(0, 0, 0);
}
*/

ol {
  display: block;
}
